<!-- <div
  class="d-flex"
  style="background-color: rgba(16, 14, 27, 0.89); color: white"
>
  <div
    class="d-flex flex-nowrap overflow-hidden text-center"
    style="width: 80%"
  >
    <div
      class="container text-muted"
      style="
        cursor: default;
        padding: 11px 0px 7px 0px;
        background-color: #ffffffa4;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
      "
    >
      <h6>Categories:</h6>
    </div>
    <div class="col-1">Shoes</div>
    <div class="col-1">Bags</div>
    <div class="col-1">TV</div>
    <div class="col-1">Mobiles</div>
    <div class="col-1">Shirts</div>
    <div class="col-1">Jeans</div>
    <div class="col-1">Shoes</div>
    <div class="col-1">Bags</div>
    <div class="col-1">TV</div>
    <div class="col-1">Mobiles</div>
  </div>
  <div
    class="d-flex"
    style="
      width: 300px;
      height: 5vh;
      margin-top: 0.5vh;
      background-color: white;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
    "
  >
    <input
      class="mr-sm-2"
      placeholder="Search"
      style="
        outline: none;
        width: 80%;
        border-color: white;
        padding: 10px;
        border-width: 0px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        padding-left: 1vw;
        background-color: #f3d63e1c;
      "
      aria-label="Search"
      #searchText
    />
    <button
      class="bg-light btn-remove-styles"
      type="submit"
      style="margin-left: 0px; width: 20%; background-color: white"
    >
      <i class="fa fa-search" style="color: rgba(16, 14, 27, 0.89)"></i>
    </button>
  </div>
</div> -->
  <!-- <header class="row d-flex">
    <form class="form-inline my-2 my-lg-0 d-flex bg-dark col-sm-4" style="justify-content: center;">
            <input class="form-control mr-sm-2" style="width: 50%" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-secondary" type="submit" style="color: white;">Search</button>
        </form>
  </header>
  <div
    id="carouselExampleIndicators"
    class="carousel slide bg-dark"
    data-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active d-flex">
        <img
          class="d-block w-100"
          src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/grey-shoes-ad-instagram-image-design-template-d8f8377a4ed1ba2f0eb2b281658bfc0d_screen.jpg?ts=1609234437"
          alt="First slide"
        />
        <img
          class="d-block w-100"
          src="https://thumbs.dreamstime.com/b/up-to-off-durga-puja-big-sale-poster-design-goddess-face-255581540.jpg"
          alt="Second slide"
        />
        <img
          class="d-block w-100"
          src="https://c8.alamy.com/comp/2K83AXB/diwali-festival-season-sale-banner-up-to-50-special-offer-diwali-design-template-2K83AXB.jpg"
          alt="Third slide"
        />
      </div>
      <div class="carousel-item">
        <div class="d-flex">
          <img
            class="d-block w-100"
            src="https://thumbs.dreamstime.com/b/up-to-off-durga-puja-big-sale-poster-design-goddess-face-255581540.jpg"
            alt="Second slide"
          />
          <img
            class="d-block w-100"
            src="https://c8.alamy.com/comp/2K83AXB/diwali-festival-season-sale-banner-up-to-50-special-offer-diwali-design-template-2K83AXB.jpg"
            alt="Third slide"
          />
          <img
            class="d-block w-100"
            src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/grey-shoes-ad-instagram-image-design-template-d8f8377a4ed1ba2f0eb2b281658bfc0d_screen.jpg?ts=1609234437"
            alt="First slide"
          />
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex">
          <img
            class="d-block w-100"
            src="https://c8.alamy.com/comp/2K83AXB/diwali-festival-season-sale-banner-up-to-50-special-offer-diwali-design-template-2K83AXB.jpg"
            alt="Third slide"
          />
          <img
            class="d-block w-100"
            src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/grey-shoes-ad-instagram-image-design-template-d8f8377a4ed1ba2f0eb2b281658bfc0d_screen.jpg?ts=1609234437"
            alt="First slide"
          />
          <img
            class="d-block w-100"
            src="https://thumbs.dreamstime.com/b/up-to-off-durga-puja-big-sale-poster-design-goddess-face-255581540.jpg"
            alt="Second slide"
          />
        </div>
      </div>
    </div>
    <a
      class="carousel-control-prev"
      href="#carouselExampleIndicators"
      role="button"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a
      class="carousel-control-next"
      href="#carouselExampleIndicators"
      role="button"
      data-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div> -->
  <div>
    <mat-form-field>
      <mat-label> Search </mat-label>
      <input
        matInput
        [formControl]="searchKeywordFilter"
        placeholder="Search"
        #input
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label> Sort </mat-label>
      <mat-select [formControl]="sorting">
        <mat-option value="id-by-asc">Default</mat-option>
        <mat-option value="id-by-desc">Newest First</mat-option>
        <mat-option value="price-by-desc">Price - High to Low</mat-option>
        <mat-option value="price-by-asc">Price - Low to High</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="card-container bg-dark">
      <mat-card
        class="m-4 p-2 mat-card"
        *ngFor="let product of productsResp?.content"
        (click)="details(product.id)"
      >
        <mat-card-title>
          <h2>{{ product.name }}</h2>
        </mat-card-title>
        <img
          mat-card-image
          class="mat-card-image"
          [src]="product.image"
          alt="Product Image"
        />
        <mat-card-content class="mat-card-content">
          <p>{{ product.description }}</p>
          <p>{{ product.price }}</p>
        </mat-card-content>
      </mat-card>
    </div>
    <mat-paginator
      #paginator
      [length]="totalData"
      [pageSizeOptions]="pageSizes"
      showFirstLastButtons
    ></mat-paginator>
  </div>
  <!-- 
  <main class="bg-dark">
    <div class="container mt-4"></div>
    <div class="row">
      <div
        class="col-sm-6 col-md-4 col-lg-3"
        *ngFor="let item of cards; let i = index"
        style="cursor: pointer"
        (click)="details(item.id)"
      >
        <div class="card">
          <div style="height: 50vh">
            <img
              class="card-img-top"
              style="max-height: 50vh"
              [src]="item.img"
              alt="Card image cap"
            />
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ item.name }}</h5>
            <p class="card-text">{{ item.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </main>
</body> -->