
<div class="body1">
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h3>Sign In</h3>
                    <div class="d-flex social_icon logos" style="width: 20%; height: 23%; right: 0; justify-content: space-evenly;">
                        <!-- <span style="height: 100%"><i class="fa fa-facebook-square">
                            </i></span> -->
                        <span style="height: 100%" ><asl-google-signin-button type='icon' size='medium'></asl-google-signin-button>
                        </span>
                        <!-- <span style="height: 100%"><i class="fa fa-twitter-square">
                            </i></span> -->
                    </div>
                </div>
                <div class="card-body">
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <div class="input-group form-group user-input">
                        
                            <div class="input-group-prepend form-group d-flex w-100">
                                <span class="input-group-text ">
                                    <i class="fa fa-envelope fa-lg" style="width: 100%; height: auto;"></i></span>
                                    <input type="text" class="form-control w-100" placeholder="email" formControlName="email">
                                   
                            </div>
                            <div *ngIf="!this.loginForm.get('email')?.valid && loginForm.get('email')?.touched"
                            class="help-block" style="color: rgb(255, 2, 2) !important;">Please enter a valid email
                        </div>
                                
                                
                                
                        
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-key fa-lg" style="width: 100%; height: auto;"></i></span>
                            </div>
                            <input type="password" class="form-control" [placeholder]="[(!this.loginForm.get('password')?.valid && loginForm.get('password')?.touched)?'Please enter a valid Password':'Password']" formControlName="password">
                        </div>

                        <hr>
                        <div class="d-flex form-group justify-content-end">
                            <!-- <div class="row align-items-center remember">
                                <input type="checkbox">Remember Me
                            </div> -->
                            <div class="form-group">
                                <button type="submit" class="btn" 
                                    style="background-color: #fac901;">Login</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-center links">
                        Don't have an account?<a [routerLink]="['/register']">Sign Up</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>