
<div class="body1">
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h3>Sign Up</h3>
                    <div class="d-flex justify-content-end social_icon logos">
                        <span><i class="fab fa-facebook-square">
                            <img src="../../../assets/square-facebook.svg" alt="">
                        </i></span>
                        <span><i class="fab fa-google-plus-square">
                            <img src="../../../assets/google-plus (3) (1).svg" alt="">
                        </i></span>
                        <span><i class="fab fa-twitter-square">
                            <img src="../../../assets/twitter.svg" alt="">
                        </i></span>
                    </div>
                </div>
                <div class="card-body">
                    <form>
                        <div class="input-group form-group">
                            
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-user"><img src="../../../assets/user-solid.svg" alt="" style="height: 100%;width: 100%;"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="username">

                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"><img src="../../../assets/key-solid.svg" alt="" style="height: 100%;width: 100%;"></i></span>
                            </div>
                            <input type="password" class="form-control" placeholder="password">
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"><img src="../../../assets/Untitled.svg" alt="" style="height: 100%;width: 100%;"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="firstname">
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"><img src="../../../assets/l.svg" alt="" style="height: 100%;width: 100%;"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="lastname">
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"><img src="../../../assets/phone-solid.svg" alt="" style="height: 100%;width: 100%;"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="phone number">
                        </div>
                        <br>
                    
                        <div class="flex">
                            <div class="row align-items-center remember">
                                <input type="checkbox">Remember Me
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn" style="background-color: #fac901;">Sign Up</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-center links">
                        Already have an account?<a [routerLink]="['/login']">Sign In</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>