
<div class="body1">
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h3>Sign Up</h3>
                    <!-- <div class="d-flex social_icon logos" style="width: 60%; height: 20%; right: 0; justify-content: space-evenly;">
                        <span style="height: 100%"><i class="fa fa-facebook-square">
                        </i></span>
                        <span><i class="fa fa-google">
                        </i></span>
                        <span><i class="fa fa-twitter-square">
                        </i></span>
                    </div> -->
                </div>
                <div class="card-body">
                    <form [formGroup]="registerForm" (ngSubmit)="addUser()">
                        <div class="input-group form-group">
                            
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-envelope fa-lg" style="width: 100%;height: auto;"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="email" formControlName="email">

                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-key fa-lg" style="width: 100%; height: auto;"></i></span>
                            </div>
                            <input type="password" class="form-control" placeholder="password" formControlName="password">
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><img src="../../../assets/Untitled.svg" alt="" style="height: 100%;width: 100%;"></span>
                            </div>
                            <input type="text" class="form-control" placeholder="firstname" formControlName="firstname">
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><img src="../../../assets/l.svg" alt="" style="height: 100%;width: 100%;"></span>
                            </div>
                            <input type="text" class="form-control" placeholder="lastname" formControlName="lastname">
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend" style="width: 13.7%;">
                                <span class="input-group-text"><i class="fa fa-user fa-lg" style="width: 100%;height: auto;"></i></span>
                            </div>
                            <div class="btn-group d-flex form-group" style="justify-content: space-evenly;width: 86.3%;">
                                <input type="radio" class="btn-check" value="customer" id="option1" autocomplete="off" checked formControlName="role" />
                                <label class="btn btn-secondary" for="option1" style="width: 50%;">Customer</label>
                              
                                <input type="radio" class="btn-check" value="seller" id="option2" autocomplete="off" formControlName="role" />
                                <label class="btn btn-secondary" for="option2" style="width: 50%;">Seller</label>
                              </div>
                        </div>
                        <br>
                    
                        <div class="d-flex justify-content-end">
                            <!-- <div class="row align-items-center remember">
                                <input type="checkbox">Remember Me
                            </div> -->
                            <div class="form-group">
                                <button type="submit" class="btn" style="background-color: #fac901;">Sign Up</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-center links">
                        Already have an account?<a [routerLink]="['/login']">Sign In</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>