<main ng-app="sd" class="container">
    <div class="d-flex justify-space-between" style="padding: 2vh 0vw;">
        <div>
            <h2>Users</h2>
        </div>
        <form class="form-inline my-2 my-lg-0 d-flex">
            <input class="form-control mr-sm-2"  placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-secondary" type="submit" style="color: rgb(0, 0, 0);">Search</button>
        </form>
    </div>
    <table class="table table-striped">
        <thead>
          <tr>
            <th style="background-color: rgb(253, 179, 82);" scope="col">#</th>
            <th style="background-color: rgb(253, 179, 82);" scope="col">First Name</th>
            <th style="background-color: rgb(253, 179, 82);" scope="col">Last Name</th>
            <th style="background-color: rgb(253, 179, 82);" scope="col">Role</th>
            <!-- <th style="background-color: rgb(253, 179, 82);" scope="col">Phone Number</th> -->
            <th style="background-color: rgb(253, 179, 82);" scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users; let i=index">
            <th scope="row">{{i+1}}</th>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.role}}</td>
            <!-- <td>{{user.phoneNo}}</td> -->
            <td><button class="btn btn-danger" (click)="onDelete(i)">Delete</button></td>
          </tr>
        </tbody>
      </table>
      <table ng-table="demo.tableParams" show-filter="true" class="table table-bordered table-striped">
        <tr *ngFor="let user of users; let i=index">
          <td title="'Installation At'" filter="{installationAt: 'text'}" sortable="'installationAt'">{{ user.firstName }} {{ user.lastName }}</td>
          <td title="'Admin Email'" filter="{adminEmail: 'text'}" sortable="'adminEmail'">{{ user.role | uppercase}}</td>
          <td title="'Powered By'" filter="{poweredBy: 'text'}" sortable="'poweredBy'"> +91 {{ user.phoneNo }}</td>
          <!-- <td title="'Powered By Icon'" filter="{poweredByIcon: 'text'}" sortable="'poweredByIcon'">{{ user.phoneNo }}</td> -->
        </tr>
      </table>
      

</main>